<div class="card" style="width:400px">
  <div class="card-body">
    <h1>Datos del juego Eliminado</h1>
    <h4 class="card-title">{{nombre}}</h4>
    <h4 class="card-title"> Comañia: {{compania}}</h4>
    <h4 class="card-title">Clasifición: {{clasificacion}}</h4>
    <h4 class="card-title">Tipo de juego: {{tipoJuego}}</h4>
      <h4 class="card-title">Numero de Jugadores: {{numJugadores}}</h4>
        <h4 class="card-title">Precio: {{precio}}</h4>
  </div>
  <img class="card-img-bottom" src="{{imagen}}" alt="Card image" style="width:100%">
</div>
