<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
  <div class="headd">
    <section id="menu">
      <ul>
        <a href="/">Inicio</a>
        <a href="/consultar">Consultar</a>
        <a href="/api/videojuegos">Lista</a>
        <a href="/modificar">Modificar</a>
        <a href="/agregar">Agregar</a>
        <a href="/eliminar">Eliminar</a>
      </ul>
    </header>
  </div>
  <div class="div_mostrar">
    <h1>Información del juego buscado</h1><br>

    <h2>Nombre del juego: {{nombre}}</h2><br>
    <h2>Compañia del juego: {{compania}}</h2><br>
    <h2>Clasificación del juego: {{clasificacion}}</h2><br>
    <h2>Tipo de juego: {{tipoJuego}}</h2><br>
    <h2>Numero de jugadores: {{numJugadores}}</h2><br>
    <h2>Precio: {{precio}}</h2><br>
  </div>
</body>
</html>
